<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-avatar (click)="takePhoto()">
    <img [src]="urlAvatarDefaultImage" *ngIf="!photo" />
    <img [src]="photo" *ngIf="photo" />
  </ion-avatar>
  <div *ngIf="dataUser">
    <h1>{{dataUser.firstName}} {{dataUser.lastName}}</h1>
    <h2>{{dataUser.email}}</h2>
  </div>
</ion-content>